.ReplaySelector-container {
  display: flex;
}

.ReplaySelector-button {
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  flex-shrink: 0;
  margin-left: 5px;
}
